{% extends "network/layout_leftNavBar.html" %}
{% load static %}

{% block title %}Following Page{% endblock %}
{% block page_title %}Following{% endblock %}

{% block body %}
    <!-- Modal -->
    <!-- Comment modal -->
    <div class="modal fade" id="comment-modal" tabindex="-1" role="dialog" aria-labelledby="commentModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="comment-modal-label">Comments</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body container">
                    <div class="comments-list"></div>
                    <template id="comment-template">
                        <div class="comment-item" data-comment-id="" data-post-id="">
                            <div class="comment-header">
                                <div class="comment-user-info-container">
                                    <img src="{% static 'network/profile.png' %}" alt="user name" class="avatar">
                                    <div class="comment-user-info">
                                        <h4><a class="header-author" href="#" id="comment-author"></a></h4>
                                        <small class="text-secondary small-header-date" id="comment-date"></small>
                                    </div>
                                </div>
                                <div class="button-wrap">
                                    <button class="btn btn-link btn-sm text-muted hidden" id="comment-edit-button">Edit</button>
                                    <button class="btn btn-link btn-sm text-muted hidden" id="comment-delete-button"><i class="bi bi-trash3"></i></button>
                                </div>
                            </div>
                            <div class="comment-body">
                                <p id="comment-content"></p>
                            </div>
                        </div>
                    </template>
                </div>
                <div class="modal-footer">
                    <form action="" method="post" class="modal-form" id="comment-form" data-post-id="">
                        {% csrf_token %}
                        <div class="form-group">
                            <textarea class="form-control" name="comment_content" rows="3" placeholder="Leave your comment"></textarea>
                        </div>
                        <p class="text-danger">{{ error_message }}</p>
                        <button type="submit" class="btn btn-primary">Post</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <!-- End of modal code -->

    <!-- display every following users' post -->
    <div class="posts-list">
        {% for post in page_obj %}
        <div class="post-item" id="post-{{ post.id }}" data-post-id="{{ post.id }}" data-user-has-liked="{{ post.user_has_liked }}" data-user-has-saved="{{ post.user_has_saved }}">
                <div class="post-header">
                    <div class="post-user-info-container">
                        <a href="{% url 'profile' profile_owner_id=post.poster.id %}">
                            {% if post.poster.profile.avatar %}
                                <img src="{{ post.poster.profile.avatar.url }}" alt="{{ user.username }}" class="avatar">
                            {% else %}
                                <img src="{% static 'network/profile.png' %}" alt="{{ user.username }}" class="avatar">
                            {% endif %}
                        </a>
                        <div class="post-user-info">
                            <span class="fs-2"><a href="{% url 'profile' profile_owner_id=post.poster.id %}" class="link-dark">{{ post.poster }}</a></span>
                            <small class="text-secondary small-header-date">{{ post.created_at }}</small>
                        </div>
                    </div>
                    {% if user == post.poster %}
                        <div class="button-wrap">
                            <button class="btn btn-link btn-sm text-muted" id="post-edit-button-{{ post.id }}">Edit</button>
                            <button class="btn btn-link btn-sm text-muted" id="post-delete-button-{{ post.id }}" data-toggle="modal" data-target="#delete-modal" data-post-id="{{ post.id }}"><i class="bi bi-trash3"></i></button>
                        </div>
                    {% endif%}
                </div>
                <div class="post-body">
                    <div class="post-content-container">
                        <p id="post-content-{{ post.id }}">{{ post.content }}</p>
                    </div>
                    <div class="post-info-container">
                        <div>
                            <i class="bi bi-heart-fill"></i>
                            <span id="post-like-count-{{ post.id }}">{{ post.like_count }}</span>
                        </div>
                        <a href="#comment-modal" id="post-comment-count-{{ post.id }}" data-toggle="modal" data-target="#comment-modal" data-post-id="{{ post.id }}">
                            {% if post.comment_count == 1 %}
                                {{ post.comment_count }} comment
                            {% elif post.comment_count > 1 %}
                                {{ post.comment_count }} comments
                            {% endif %}
                        </a>
                    </div>
                </div>
                <div class="post-footer">
                    <!-- like and unlike button -->
                    <button type="button" class="footer-btn btn btn-outline-secondary" id="like-unlike-button-{{ post.id }}">
                        {% if post.user_has_liked %}
                            <i class="bi bi-heart-fill"></i>
                            <span>Unlike</span>
                        {% else %}
                            <i class="bi bi-heart"></i>
                            <span>Like</span>
                        {% endif %}
                    </button>
                    <!-- Comment button -->
                    <button type="button" class="footer-btn btn btn-outline-secondary" id="post-comment-button-{{ post.id }}" data-toggle="modal" data-target="#comment-modal" data-post-id="{{ post.id }}">
                        <i class="bi bi-chat-left"></i>
                        <span>Comment</span>
                    </button>
                    <!-- Save button -->
                    <button type="button" class="footer-btn btn btn-outline-secondary" id="save-unsave-button-{{ post.id }}" data-post-id="{{ post.id }}">
                        {% if post.user_has_saved %}
                            <i class="bi bi-bookmark-fill"></i>
                            <span>Unsaved</span>
                        {% else %}
                            <i class="bi bi-bookmark"></i>
                            <span>Save</span>
                        {% endif %}
                    </button>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- pagination -->
    <nav aria-label="Page navigation">
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.previous_page_number }}">Previous</a>
                </li>
            {% endif %}
            {% if page_obj.has_next %}
                <li class="page-item">
                    <a class="page-link" href="?page={{ page_obj.next_page_number }}">Next</a>
                </li>
            {% endif %}
        </ul>
    </nav>

{% endblock %}

{% block script %}
    <script>
        {% if request.user.is_authenticated %}
            const currentUserId = {{ request.user.id }};
        {% else %}
            const currentUserId = null;
        {% endif %}
    </script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            const activeSidebarButton = document.querySelector('#sidebar-following-button');
            activeSidebarButton.classList.add('active');
        })
    </script>
    <script src="{% static 'network/post.js' %}"></script>
{% endblock %}